# 构建输出
.next/
dist/
build/
out/

# 依赖
node_modules/

# 配置文件
*.config.js
*.config.ts
next-env.d.ts

# 其他
.vercel
.coverage
*.log
.git
.husky
.vscode

# 公共资源
public/

# 自动生成的文件
generated/
*.generated.* 