build
dist/media
node_modules
.DS_Store
.next
.vercel

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml

# Generated types
# src/payload-types.ts

# TypeScript cache
*.tsbuildinfo
tsconfig.tsbuildinfo
.tsbuildinfo

# Environment variables
.env
.env.*
!.env.example
!.env.docker.example